<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Plantilla</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <!--Se puede especificar cualquier otro nombre-->
        <header th:fragment="header" >
            <!--Se llama el valor asociado en el archivo messages-->
            <h1 th:text="#{plantilla.titulo}">Control de clientes SGA</h1>
        </header>
        <footer th:fragment="footer">
            <!--Se puede llamar tambien de esta otra forma para incrustar el mensaje-->
            <p> [[#{plantilla.pie-pagina}]] a Erick Diaz</p>
        </footer>
    </body>
</html>