<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Plantilla</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <!--Se puede especificar cualquier otro nombre-->
        <header th:fragment="header" >
            <!--Se llama el valor asociado en el archivo messages-->
            <h1 th:text="#{plantilla.titulo}">Control de clientes SGA</h1>
        </header>
        <footer th:fragment="footer">
            <div>
                <br />
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <!--Se puede llamar tambien de esta otra forma para incrustar el mensaje-->
                <span> [[#{plantilla.pie-pagina}]] a Erick Diaz</span>
                <form th:action="@{/logout}" method="POST">
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
            </div>
        </footer>
    </body>
</html>