<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <!--Definimos el paquete en donde se encuentra y la estructura a usar-->
        <header th:replace="layout/plantilla :: header" />
        <section th:replace="layout/botonesAgregar :: botonesAgregar" />
        <section th:replace="layout/agregarCliente :: agregarCliente" />
        <section th:replace="layout/listadoClientes :: listadoClientes" />
        <footer th:replace="/layout/plantilla :: footer" />

        <!--<p th:text="${mensaje}"></p>-->
        <!--<p th:text="${saludo}"></p>-->
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a>
    </body>
</html>
